.loader {
    height: 100vh;
    width: 100vw;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation-name: appear;
    animation-duration: 1s;
}

.loader__company {
    font-size: 100px;
    animation-name: company;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.loader__description {
    font-size: 20px;
    font-weight: 400;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes company {
    0% {
        color: rgb(39, 39, 39);
        transform: scale(1);
    }
    50% {
        color: #FA7921;
        transform: scale(1.02);
    }
    100% {
        color: rgb(39, 39, 39);
        transform: scale(1);
    }
}
