.toggle--blue {
    height: 47px;
    width: min-content;
    padding: 0px 20px 0px 20px;
    border: 3px solid #52C1E0;
    border-radius: 23.5px;

    color: #222222;
    font-size: 16px;
    font-weight: bold;
    background: rgb(255, 255, 255);

    transition-property: background-color color box-shadow;
    transition-duration: 0.1s;
    cursor: pointer;

    box-sizing: border-box;
}

.toggle--blue:hover {
    bottom: 3px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    background-color: #52C1E0;
}

.toggle--blue:active {
    bottom: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(68, 160, 185);
    border-color: rgb(68, 160, 185);
}