.status {
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.status__text {
    color: #222222;
    white-space: nowrap;
}

.status__svg {
    margin-right: 10px;
}
