.bin {
    position: fixed;
    right: 0px;
    height: 100vh;
    width: 350px;
    margin-left: 0px 0px 0px auto;

    background-color: #EEEEEE;

    display: grid;
    grid-template-rows: 69px 1fr min-content;
}

.bin__header {
    height: 69px;
    width: 100%;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-row: 1 / 2;
}

.bin__text {
    color: #FA7921;
    font-size: 25px;
    font-weight: 900;
}

.bin__footer {
    height: min-content;
    width: 100%;

    background-color: white;

    display: grid;
    grid-row: 3 / 4;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 20px min-content 20px;
}

.bin svg {
    margin: 15px;
}

.bin__button {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.bin__list {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    z-index: -1;
    overflow-y: scroll;
}

.bin__element {
    left: 1118px;
    top: 251px;
    height: 120px;
    width: 314px;
    margin: 10px auto 0px auto;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 10% 1fr 0.3fr 5%;
    grid-template-rows: 20% 30% 10% 30% 20%;

    background: #FFFFFF;
}

.element__name {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    line-height: 19px;
}

.success {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    color: green;
    font-size: 48px;
    font-weight: 900;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
