.finish {
    position: absolute;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.finish__box {
    position: fixed;
    height: min-content;
    width: 550px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #EEEEEE;

    animation-timing-function: ease-in;
    animation-name: form-appearence;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    z-index: 4;
}

.finish__data {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-gap: 10px;
}

.finish__adress {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-gap: 10px;
}

.finish__data h5,
.finish__adress h5 {
    font-size: 20px;
    font-weight: 300;
    grid-column: 1 / -1;
}

.finish__street {
    grid-column: 1 / -1;
}

.finish__cost {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.finish__button {
    width: 200px;
}

.finish__layer {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    background-color: black;
    z-index: 3;

    animation-name: finish;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.finish__cost p {
    color: #222222;
    font-size: 25px;
    font-weight: 900;
}

@keyframes finish {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}

@keyframes form-appearence {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
