.map {
    height: 400px;
    margin: 20px 20px 20px 20px;
    background: #FFFFFF;
    border-radius: 3px;
    border-bottom: 3px solid #FA7921;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: auto-fill;
}

.map__map {
    height: 100%;
    widows: 100%;
    border-radius: 0px 0px 0px 3px;
    background-color: rgb(106, 148, 182);
}

.map__form {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 15% 10% 5% 13% 7% 5% 8% 10% 5% 13% 5%;
}

.map__text-zone {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: normal;
    text-align: center;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.map__button-allow {
    height: 60px;
    width: 100%;
    padding: 0px 10px 0px 10px;
    margin: 0px;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.map__text-adress {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: normal;
    text-align: center;

    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.map__input-adress {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
}

.map__button-ready {
    margin: 0px auto 0px auto;

    font-size: 16px;
    box-sizing: border-box;
    grid-column: 2 / 3;
    grid-row: 10 / 11;
}
