.register {
    height: 100vh;
    width: 100vw;
    background-color: #fa7921;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.register__form {
    height: min-content;
    width: 400px;
    padding: 30px;
    margin: 0px auto 0px auto;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.178);

    background-color: white;
}

.register__sign-in {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto);
    grid-gap: 10px;
}

.register__sign-up {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto);
    grid-gap: 10px;
}

.register__onerow {
    grid-column: 1 / -1;
}

.register__changesection {
    height: min-content;
    color: rgba(0, 0, 0, 0.514);
    font-size: 13px;
    font-weight: 300;

    transition-property: color;
    transition-duration: 0.2s;
    cursor: pointer;
}

.register__changesection:hover {
    color: #fa7921;
}

.register__bottom {
    margin-bottom: 15px;
}
