.cart {
    height: min-content;
}

.cart__block {
    height: min-content;
    margin: 10px 10px 0px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background: #ffffff;

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 20px min-content 10px 20px 20px;
    z-index: 3;

    animation-name: cart-appearance;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.cart__name {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    line-height: 19px;
}

.cart__name {
    margin-left: 20px;
    color: #222222;
    font-size: 18px;
    font-weight: 400;

    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.cart__amount {
    text-align: right;
    opacity: 0.8;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-right: 20px;
}
.cart__weight {
    margin-left: 20px;
    font-size: 13px;
    font-weight: 600;
    opacity: 0.5;

    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.cart__price {
    font-size: 13px;
    font-weight: 600;
    text-align: right;
    opacity: 0.5;

    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin-right: 20px;
}

.cart__option {
    position: relative;
    height: 0px;
    margin: 0px 10px 0px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(243, 243, 243);

    transition-property: height;
    transition-duration: 0.2s;

    overflow: hidden;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.cart:hover .cart__option {
    height: 50px;
}

.cart:hover .cart__delete {
    animation-name: cartdelete;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.cart__delete {
    height: min-content;
    width: min-content;
    margin: 15px 20px 0px auto;

    color: red;
    font-size: 16px;
    opacity: 0;
    transition-property: color;
    transition-duration: 0.1s;
    cursor: pointer;
    z-index: 999;
}

.cart__delete:hover {
    color: rgb(189, 29, 29);
}

.cart__option svg {
    opacity: 0;
}

.cart:hover svg {
    animation-name: cartdelete;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes cartdelete {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cart-appearance {
    0% {
        margin: 30px 20px 0px 20px;
        opacity: 0;
        background-color: #FA7921;
    }

    50% {
        margin: 10px 10px 0px 10px;
        opacity: 1;
        background-color: #FA7921;
    }

    100% {
        margin: 10px 10px 0px 10px;
        opacity: 1;
        background-color: white;
    }
}
