.input__box {
    height: min-content;
    width: 100%;
}

.input--blue {
    height: 47px;
    width: 100%;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #e9e9e9;
    border-radius: 3px;

    color: #494949;
    font-size: 16px;
    font-weight: thin;

    transition-property: border;
    transition-duration: 0.1s;
    box-sizing: border-box;
}

.input--blue:hover {
    border: 3px solid #cacaca;
}

.input--blue:focus {
    border: 3px solid #52c1e0;
}

.input__tip {
    margin-bottom: 10px;
    color: #222222;
    font-size: 13px;
    font-weight: 600;
    opacity: 0.5;
}
