.input--blue {
    height: 47px;
    width: 100%;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 3px;

    color: #494949;
    font-size: 16px;
    font-weight: thin;

    transition-property: border;
    transition-duration: 0.1s;
    box-sizing: border-box;
}

.input--blue:hover {
    border: 3px solid #CACACA;
}

.input--blue:focus {
    border: 3px solid #52C1E0;
}
