.input__box {
    height: min-content;
    width: 100%;
}

.input--orange {
    height: 47px;
    width: 100%;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 3px;

    color: #494949;
    font-size: 16px;
    font-weight: thin;

    transition-property: border;
    transition-duration: 0.1s;
    box-sizing: border-box;
}

.input--orange:hover {
    border: 3px solid #CACACA;
}

.input--orange:focus {
    border: 3px solid #FA7921;
}

.input__tip {
    margin-bottom: 10px;
    color: #222222;
    font-size: 13px;
    font-weight: 600;
    opacity: 0.5;
}