.sort {
    height: 70px;
    margin: 10px 20px 10px 20px;
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: left;
    overflow-y: hidden;
}

.sort__text {
    padding: 0px 10px 0px 20px;
    color: #042A2B;
    font-size: 16px;
    
    display: flex;
    align-items: center;
}

.sort__box {
    height: 100%;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    overflow-x: scroll;
    flex-direction: row;

    display: flex;
    flex-direction: row;
    align-items: center;
}